extends includes/layout
div(ng-app='app')
block main-content
     .nav.navbar-inverse.navbar-fixed-top
         .container
             .navbar-header
                 a.navbar-brand(href="#/") TA Courses
             .navbar-collapse.collapse
                 ul.nav.navbar.nav
                     li
                         a(href="/") Home

     div(ng-view)