extends includes/layout
block main-content
    header.nav.navbar-inverse.navbar-fixed-top
        .container
            .navbar-header
                a.navbar-brand(href="#/") TA Courses
            .navbar-collapse.collapse
                ul.nav.navbar-nav
                    li
                        a(href="/#/partials/home") Home
                ul.nav.navbar-nav.navbar-right
                    li
                        a(href="/") Login
    section.container
        div(ng-view)
        div(ng-controller='MainCtrl')
        div= message
    footer
         p.text-center
             | &copy Web Site 2016